<p><%= t(:welcome).capitalize + ' ' + @email %>!</p>

<p>A new PhaseTrial account has been created for you. You have been assigned the following password:</p>

<p><b>Password:</b><%= ' ' + @resource.password %></p>

<p>Click the link below and login with this password to get started!</p>

<p><%= link_to t('.confirm_account_link'), confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}).html_safe %></p>
