<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password in PhaseTrial. You can do this through the link below.</p>

<p><%= link_to t('.password_change_link'), edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>

<p><%= t '.ignore_mail_msg' %></p>
<p><%= t '.no_changes_msg' %></p>